@import "./helpers/_themes";
@import "./leftpanel/_leftpanel";
@import "./toppanel/toppanel";
@import "./centerpanel/_centerpanel";

/* Fixed anchors */
:target:before {
	content: "";
	display: block;
	height: 110px; /* fixed header height */
	//margin: -50px 0 0; /* negative fixed header height */
}
/* *[id]:before { 
	display: block; 
	content: " "; 
	margin-top: -75px; 
	height: 75px; 
	visibility: hidden; 
  } */
.modal-content{
	@include themify($themes){
		background-color: themed("backgroundCardHeaderColor");
	}
}
.overflow-hidden {
	overflow: hidden!important;
}