figure {
    margin: .25rem;
}
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.container {
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card.book-card {
        width: 180px;
        height: 200px;
    }
    .action-btn {
        font-size: 80px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}